p= t('.greeting', recipient: @user.email)
p= t('.instruction')
p= link_to t('.action'), edit_users_passwords_url(email: @user.email,reset_password_token: @user.reset_password_token)
p= t('.instruction_2')
p= t('.instruction_3')